<!DOCTYPE html>
<html ng-app="phoneList">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista Telefônica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./../../node_modules/bootstrap/dist/css/bootstrap.css" />
    <style>
        .table {
          margin-top: 20px
        }

        .jumbotron {
            width: 600px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control {
            margin-bottom: 5px;
        }

        .selected {
            background-color: yellow;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <script src="./../../node_modules/angular/angular.js"></script>
    <script src="./../../node_modules/angular-messages/angular-messages.js"></script>
    <script>
        var app = angular.module("phoneList", ["ngMessages"]);
        app.controller("phoneListCtrl", function ($scope) {
            $scope.app = "Lista Telefonica";
            $scope.contacts = [
                { name: "Pedro", phone: "99998888", provider: { name: "Oi", code: 14, category: "Mobile", price: 2 }, date: new Date(), color: "red" },
                { name: "João", phone: "99998877", provider: { name: "Vivo", code: 15, category: "Mobile", price: 1 }, date: new Date(), color: "blue" },
                { name: "Maria", phone: "99998866", provider: { name: "GVT", code: 25, category: "Phone", price: 1 }, date: new Date(), color: "yellow" },
            ]

            $scope.providers = [
                { name: "Oi", code: 14, category: "Mobile", price: 2 },
                { name: "Vivo", code: 15, category: "Mobile", price: 1 },
                { name: "Tim", code: 41, category: "Mobile", price: 3 },
                { name: "GVT", code: 25, category: "Phone", price: 1 },
                { name: "Embratel", code: 21, category: "Phone", price: 2 }
            ]

            $scope.addContact = contact => {
                $scope.contacts.push(contact)
                delete $scope.contact
                $scope.contactForm.$setPristine();
            }

            $scope.deleteContact = contacts => {
                $scope.contacts = contacts.filter(contact => !contact.selected)
            }

            $scope.isContactSelected = contacts => {
                return contacts.some(contact => contact.selected);
            }

            $scope.orderBy = field => {
                $scope.orderingCriteria = field;
                $scope.orderingDirection = !$scope.orderingDirection;
            }
        });
    </script>
</head>

<body ng-controller="phoneListCtrl">

    <div class="jumbotron">
        <h3>{{app}}</h3>
        <input type="text" class="form-control" ng-model="searchCriteria" placeholder="O que você está buscando?">
        <table class="table">
            <tr>
                <th></th>
                <th><a href="" ng-click="orderBy('name')">Name</a></th>
                <th><a href="" ng-click="orderBy('phone')">Telefone</a></th>
                <th>Provider</th>
                <th>Date</th>
                <th></th>
            </tr>
            <tr ng-class="{'selected bold': contact.selected}" ng-repeat="contact in contacts | filter:{name: searchCriteria} | orderBy:'orderingCriteria':orderingDirection">
                <td><input type="checkbox" ng-model="contact.selected" /></td>
                <td>{{contact.name | uppercase}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.provider.name}}</td>
                <td>{{contact.date | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <div style="width: 20px; height: 20px;" ng-style="{'background-color': contact.color}"></div>
                </td>
            </tr>
        </table>

        <form name="contactForm">
            <input type="text" class="form-control" ng-model="contact.name" name="name" placeholder="Nome..."
                ng-required="true" ng-minlength="10" />
            <input type="text" class="form-control" ng-model="contact.phone" name="phone" placeholder="Telefone..."
                number ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
            <select class="form-control" ng-model="contact.provider" name="provider" ng-options="provider.name + ' (' + (provider.price | currency) + ') ' group by provider.category for provider in providers | orderBy:'name'"
                ng-required="true">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>
        <div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$dirty" class="alert alert-danger">
            <div ng-message="required">
                Por favor, preencha o campo nome!
            </div>
            <div ng-message="minlength">
                O campo nome deve ter no mínimo 10 caracteres.
            </div>
        </div>

        <div ng-messages="contactForm.phone.$error" ng-show="contactForm.phone.$dirty" class="alert alert-danger">
            <div ng-message="required">
                Por favor, preencha o campo telefone!
            </div>
            <div ng-message="pattern">
                O campo telefone deve ter o formato DDDDD-DDDD
            </div>
        </div>
        <div class="alert alert-danger" ng-show="contactForm.provider.$invalid && contactForm.provider.$dirty">
            Por favor, preencha o campo operadora!
        </div>
        <button class="btn btn-primary btn-block" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">
            Add Contact
        </button>
        <button class="btn btn-danger btn-block" ng-click="deleteContact(contacts)" ng-disabled="!isContactSelected(contacts)">
            Delete Contact
        </button>

    </div>

</body>

<div ng-include="'footer.html'"></div>

</html>